.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: 
  linear-gradient(
    to right,
    rgba($primaryColor, 0.9),
    rgba($accentColor, 0.6)
  ),
  url('../img/background.jpg') center top;
  background-size: cover;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font: outline;
    font-size: 1.5rem;
  }

  .social-icons {
    position: initial;
    margin-top: 2rem;
  }
}