.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: 
  linear-gradient(
    to right,
    rgba($primaryColor, 0.9),
    rgba($accentColor, 0.6)
  ),
  url('../img/background.jpg') center top;
  background-size: cover;

  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primaryColor);
    color: $accentColor;
    font-weight: 700;
  }
}
